<h1>TaskLists</h1>
	<ul>
    {% for tasklist in tasklists %}
        <li>
			<a href='./tasklist/show/{{ tasklist.id }}'>Name : {{ tasklist.name }}</h3></a> --<a href='tasklist/delete/{{ tasklist.id }}'>Delete</a>
        </li>
    {% endfor %}
	</ul>

<a href='tasklist/new'> Create new list</a>

